apiVersion: apps/v1 #  for k8s versions before 1.9.0 use apps/v1beta2  and before 1.8.0 use extensions/v1beta1
kind: Deployment
metadata:
  name: notification
spec:
  selector:
    matchLabels:
      app: notification
  replicas: 1 #change is as per requirement
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
        - name: notification
          image: rajendransurya/notification:latest
          env:
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
            - name: SENDGRID_API_KEY
              value: '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'